.Header
  .Grid
    .Grid-col.Grid-col--2
      a.Header-logo(href="#")
        | Mens Sana
    .Grid-col.Grid-col--10.Header-navigation
        a(href="#") evaluation mémoire
        a(href="#") programmes mémoire
        a(href="#") conseils mémoire
        a(href="#") événements
