#content
  #leftclmn
    p#evalmemoire
      |Faites votre évaluation mémoire !
  #centerclmn
    p#centerclmn--title
      |4 bonnes raisons d'entretenir votre mémoire :
    #columns  
      ul#centerclmn--left
        li
          strong Stimuler ses capacités d'apprendre,
          br
          |que l'on soit étudiant, en activité 
          |ou passionné pour une discipline qui
          |sollicite la mémoire
        li
          strong Pallier les carences de la mémoire,
          |petites ou grandes, que l'on ressent.
      ul#centerclmn--right
        li
          strong Préserver son capital mémoire
          br
          |et assurer son efficience pour l'avenir.
        li
          strong Développer sa créativité
          br
          |puisque nos capacités créatives 
          |dépendent de notre mémoire.

  #rightclmn  