.background
.content
  .content--title
    h1
      |entretenez et développez votre mémoire
  h2
    |de bonnes raisons d'entretenir votre mémoire
  .grid-selector
    .col
      .content--links
        img(src="http://fakeimg.pl/64")
        br
        strong Stimuler ses capacités d'apprendre,
        br
        |que l'on soit étudiant, en activité 
        |ou passionné pour une discipline qui
        |sollicite la mémoire
    .col
      .content--links
        img(src="http://fakeimg.pl/64")
        br
        strong Préserver son capital mémoire
        br
        |et assurer son efficience pour l'avenir.
    .col
      .content--links
        img(src="http://fakeimg.pl/64")
        br
        strong Développer sa créativité
        br
        |puisque nos capacités créatives 
        |dépendent de notre mémoire.
  h3
    |nos programmes
  .content--textcols
    .textcol
      strong Les programmes Mens Sana pour Entreprises :
      br
      |Mens Sana propose des programmes de développement
      br
      |et d’entretien des capacités cérébrales centrés sur :
      ul
        li LA MEMOIRE (Programme Mnémosyne)
        li LA LOGIQUE (Programme Aristote)
        li L'EXPRESSION ORALE (Programme Démosthène)
      br
      |Ces programmes sont développés selon trois formules :
      ul
        li Les programmes complets en 3 jours (2+1)
        li Les programmes complets en 5 demi-journées espacées les unes des autres d’une semaine environ
        li Les programmes à thème spécifique en 1 jour
      |A qui s’adressent les programmes Mens Sana :
      ul
        li Aux entreprises dans le cadre de la formation des membres de leur personnel et du D.I.F. (Droit Individuel à la formation)
        li Aux particuliers soucieux de préserver et de développer leur potentiel cérébral
    .textcol
      strong Les programmes de l’Institut Mens Sana pour particuliers :
      |Mens Sana propose des programmes d’entretien et de développement de LA MEMOIRE (Programme Mnémosyne) selon quatre formules différentes :
      ul
        li
          strong Programme complet MEMOIRE INTENSE 
          | en 6 ateliers de deux heures chacun espacés entre eux d’une semaine, avec deux évaluations mémoire (facultatives) incluses et la remise du manuel d’entretien et de développement de la mémoire de l’Institut en fin de session.
        li Formule Abonnement
          |avec une évaluation mémoire incluse, permettant d’entretenir sa mémoire tout au long de l’année.
          |Sessions à thèmes
          |en 4 ateliers d’une heure et demie centrées sur un thème spécifique de la mémoire.
        li Programmes de Perfectionnement 
           |en 6 ateliers de deux heures chacun espacés entre eux d’une semaine, réservé à ceux ayant suivi un programme complet Mémoire Intense.
