.background
.content
  .content--title
    h1
      |découvrez nos 
      strong programmes
  .content--mnemosyne
    div.mnemopic
      img(src="http://www.mens-sana.fr/images/i1.jpg")
    div.mnemotext
      h3
        |Programme Mnémosyne
      h4 Les différentes fonctions du cerveau sont en interaction.
      p.
        La mémoire est au coeur de ces fonctions. La concentration, 
        associée à des techniques spécifiques, est l’une des bases 
        du processus de mémorisation. L’interaction entre notre 
        mémoire, les stimuli de l’extérieur et notre capacité à 
        raisonner génère notre activité créatrice.
        La liaison « Concentration —> Mémoire —> Créativité » constitue l’axe central du programme MNEMOSYNE.
  .separ
  .content--aristote
    div.arispic
      img(src="http://www.mens-sana.fr/images/i2.jpg")
    div.aristext
      h3
        |Programme Aristote
      h4 Les différentes fonctions du cerveau sont en interaction.
      p.
        La mémoire est au coeur de ces fonctions. La concentration, 
        associée à des techniques spécifiques, est l’une des bases 
        du processus de mémorisation. L’interaction entre notre 
        mémoire, les stimuli de l’extérieur et notre capacité à 
        raisonner génère notre activité créatrice.
        La liaison « Concentration —> Mémoire —> Créativité » constitue l’axe central du programme MNEMOSYNE.
  .separ
  .content--demosthene
    div.demospic
      img(src="http://www.mens-sana.fr/images/i3.jpg")
    div.demostext
      h3
        |Programme Démosthène
      h4 Les différentes fonctions du cerveau sont en interaction.
      p.
        La mémoire est au coeur de ces fonctions. La concentration, 
        associée à des techniques spécifiques, est l’une des bases 
        du processus de mémorisation. L’interaction entre notre 
        mémoire, les stimuli de l’extérieur et notre capacité à 
        raisonner génère notre activité créatrice.
        La liaison « Concentration —> Mémoire —> Créativité » constitue l’axe central du programme MNEMOSYNE.
