#background
#content
  h1
    |entretenez et développez votre mémoire
  hr
  h2
    |de bonnes raisons d'entretenir votre mémoire
  #grid-selector
    .col
      .content--links
        img(src="http://fakeimg.pl/25")
        br
        strong Stimuler ses capacités d'apprendre,
        br
        |que l'on soit étudiant, en activité 
        |ou passionné pour une discipline qui
        |sollicite la mémoire
    .col
      .content--links
        img(src="http://fakeimg.pl/25")
        br
        strong Préserver son capital mémoire
        br
        |et assurer son efficience pour l'avenir.
    .col
      .content--links
        img(src="http://fakeimg.pl/25")
        br
        strong Développer sa créativité
        br
        |puisque nos capacités créatives 
        |dépendent de notre mémoire.
