#blue  
  #header
    #logo
      p
        |Institut Mens-Sana
      p
        |Entretenez et développez votre mémoire !
    #menubar
      ul
        li
          a(href="#") Qui sommes-nous ?
        li
          a(href="#") Évaluations mémoire
        li
          a(href="#") Programmes mémoire
        li
          a(href="#") S'inscrire
        li
          a(href="#") Testez votre mémoire
        li
          a(href="#") Jeux de mémoire
        li
          a(href="#") Conseils
        li
          a(href="#") La boutique de l'Institut
        li
          a(href="#") Les témoignages
        li
          a(href="#") Contact