#header
  .separ
  img(src='http://fakeimg.pl/30/')
  ul
    li
      a(href='#') évaluations mémoire
    li
      a(href='#') programmes mémoire
    li
      a(href='#') nos événements
    li
      a(href='#') contact
  ul
    li
      a(href='#') twitter
    li
      a(href='#') facebook
    li
      a(href='#') g+
  .separ
