.Events-title
  text-align: center
  text-transform: uppercase
  color: MAIN_COLOR
  letter-spacing: .125em
  font-weight: 400
  margin: 0
  font-size: 1.3em
  padding: 1.6em 0 0
  span
    font-weight: 700
    margin: 0 .25em

.EventSummary-item
  border-bottom: 1px dotted #ccc
  padding: 1em
  color: #444

.EventSummary-title
  font-size: 1.1em
  font-weight: 700
  margin: 0
  padding: .4em 0

.EventSummary-speaker
.EventSummary-time
  strong
    margin: 0 .25em

.EventSummary-button
  text-align: center
  padding: .6em 0 0