.Header
  background: #2b3470
  background: linear-gradient(to bottom, #2b3470 + 10%, #2b3470)
  color: #fff
  padding: 1em 0
  .Grid-col
    vertical-align: middle

.Header-logo
  color: #fff
  text-decoration: none
  font-size: 1.5em

.Header-navigation
  text-align: right
  text-transform: uppercase
  a
    color#fff
    text-decoration: none
    display: inline-block
    vertical-align: middle
    padding: .5em 1em
    border-radius: .3em
    transition: .3s ease-in-out background-color
    &:hover
    &:focus
      background: rgba(#000, .2)
