.Programmes
  padding: .5em 0
  text-align: center

.Programme
  text-align: center
  display: inline-block
  width: 11em
  margin: 0 .5em
  
  img
    border-radius: 100%

.Programme-title
  text-transform: uppercase
  color: MAIN_COLOR
  font-size: .9em

.Programme-description
  font-size: .725em
  color: #444
  font-weight: 700
