.Showcase
  background: #fff
  color: MAIN_COLOR
  border-bottom: .5em solid @background - 10%
  background-image: url("../images/goldfish.jpg")
  background-repeat: no-repeat
  background-position: 50% 50%
  padding: 5em 0
  animation: 1.2s ease-out BackgroundFromLeft

@keyframes BackgroundFromLeft
  from
    background-position: -300px 50%
  to
    background-position: 50% 50%

.Showcase-title
  padding: 1em 0
  margin: 0
  text-align: center
  font-size: 1.5em
  text-transform: uppercase
  animation: 1s ease-out FromTop 

@keyframes FromTop
  from
    transform: translateY(-2em)
    opacity: 0
  to
    transform: translateY(0)
    opacity: 1

.Ampersand
  font-family: Baskerville, Palatino, "Palatino Linotype", sans-serif
  font-style: italic
  font-weight: 400
  padding: 0 .2em
  font-size: 2em
  vertical-align: middle
  text-shadow: 0 0 .1em #fff
