.Tiles
  background: #fafafa

.Tile
  margin-top: .625em
  margin-bottom: .625em
  text-align: center
  padding-bottom: 1em

.Tile-title
  font-size: 1.2em
  box-shadow: 0 1px rgba(#000, .03), 0 1em 1em -.8em rgba(#000, .1)
  margin: 0
  padding: .5em 1em
  color: MAIN_COLOR
  text-transform: uppercase
